<div style="text-align:center">
  <h1> Bienvenidos a {{title}} </h1>
</div>
<div style="text-align:center">
  <h2> actulmente contamos con {{descripcion}}</h2>
</div>
<div style="text-align:center" class="container">
  <div class="row">
    <div class="col-lg-6">
      <img width="550" [src]="urlImagen" />
    </div>
    <div class="col-lg-6">
      <img width="550" [src]="urlImagen" />
    </div>
  </div>
</div>

<br />

<div style="text-align:center" class="container">
  <div class="row">
      <div class="col-sm-3">
        <img width="200" [src]="urlImagen1" />
      </div>
      <div class="col-sm-3">
        <img width="200" [src]="urlImagen1" />
      </div>
      <div class="col-sm-3">
        <img width="200" [src]="urlImagen1" />
      </div>
      <div class="col-sm-3">
        <img width="200" [src]="urlImagen1" />
    </div>
  </div>
</div>
