  <div style="text-align:center" class="container">
    <div class="sa-fondo-menu-banner sa-color-letras-footer-banner">


    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-9">Propiedad Intelectual e Industrial 2015-2018 PelisPedia</div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-10">   Sus Opciones para Compartir Información </div>
              <div class="col-sm-1">
                <img width="30" [src]="urlRedSocial1" />
              </div>
              <div class="col-sm-1"> T </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
