.sa-fondo-menu-banner {
  background-color: #000;
  border-style: solid;
  border-color: #000;
  border-width: 10px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(34%);
  width: 1200px;
  height:50px;
}

.sa-color-letras-footer-banner {
  color: #fff;
}
