<div style="text-align:center" class="container">
  <div style="text-align:center" class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-2">Música</div>
              <div class="col-sm-1.9">Audio Latino</div>
              <div class="col-sm-2"> Ver Los Simpsons </div>
              <div class="col-sm-2"> Facebook</div>
              <div class="col-sm-2"> Twitter</div>
              <div class="  col-sm-2">  Ingresar</div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<br />

<div style="text-align:center" class="container">
  <div style="text-align:center" class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-2.5">Spoiler CTM</div>

            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-2">Home</div>
              <div class="<col-sm-2></col-sm-2>">Estrenos</div>
              <div class="col-sm-2"> Series </div>
              <div class="col-sm-2"> DMCA </div>
              <div class="col-sm-2"> Descarga </div>
              <div class="  col-sm-2">Buscar</div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
